<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/Addtocart.css" />
<script src="../javascript/addtocartbutton.js"></script>
<title>Add to cart</title>
</head>
<body>
   
    <!--add to bag-->
    <div>
        <div class="split right">
             <button id="close" onclick="ex();">X</button>
            <div class="centeredd">
                <div class="headerr1">

                    <span class="innerdetails">
                        YOUR BAG &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="innerdetails2">
                        0 items &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="innerdetails3">
                        EGP0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                </div>

                <div class="headerr2">
                    <p>WELCOME&nbsp;BACK&nbsp;!</p>
                </div>
               
                <%if(cart==''){%>
                <div class="bag">
                    <p class="p1">YOUR BAG IS EMPTY</p>
                    <a href="/sophistiqueBeauty">
                    <button class="btn1"> SHOP SOPHISTIQUÉ BEAUTY</button>
                    </a>
                    <br>
                    <br>
                    <a href="/skincarepage1">
                    <button class="btn2"> SHOP SOPHISTIQUÉ SKIN</button>
                    </a>
                <%}
                else{for(let i=0;i<cart.length;i++){%>
                    <li>
        <%= cart[i].product%> - <%= cart[i].quantity %>
        <form action="/addtocart/update" method="post">
          <input type="hidden" name="product" value="<%=cart[i].product%>">
          <input type="hidden" name="name" value="<%=cart[i].name%>">
          <input type="number" name="quantity" value="<%=cart[i].quantity%>">
          <button type="submit">Update</button>
        </form>
        <form action="/addtocart/remove" method="post">
          <input type="hidden" name="product" value="<%=cart[i].product %>">
          <button type="submit">Remove</button>
        </form>
      </li>
                <%}}%>
            </div>
           </div>
    </div>
    <!--add to bag ends-->
    </ul>
</body>
