<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/Addtocart.css" />

<script src="../javascript/addtocartbutton.js"></script>
<script src="../javascript/addtocart2.js"></script>
<title>Add to cart</title>
</head>
<body>
   
    <!--add to bag-->
    <div>
        <div class="split right">
             <button id="close" onclick="ex();">X</button>
            <div class="centeredd">
                <div class="headerr1">

                    <span class="innerdetails">
                        YOUR BAG &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="innerdetails2">
                        0 items &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                    <span class="innerdetails3">
                        EGP0.00 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>

                </div>

                <div class="headerr2">
                    <p>WELCOME&nbsp;BACK&nbsp;!</p>
                </div>
                
               
                <%if(cart==''){%>
                    <div class="gift">
                        <p class="p2">Add EGP‌5,100.00 to your cart to qualify<br> for a FREE gift!</p>
                        <button class="btn3">ADD YOUR GIFT</button>
                    </div>

                <div class="bag">
                    <p class="p1">YOUR BAG IS EMPTY</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="/sophistiqueBeauty">
                    <button class="btn1"> SHOP SOPHISTIQUÉ BEAUTY</button>
                    </a>
                    <br>
                    <br>
                    <a href="/skincarepage1">
                    <button class="btn2"> SHOP SOPHISTIQUÉ SKIN</button>
                    </a>
        
                    <div class="recommended">
                        <p class="p3">RECOMMENDED PRODUCTS</p>
                        <div class="row1">
                            <div class="column1">
                                <img src="../imgs/main product.jpeg" style="width:70%">
                                <p class="newtext">NEW</p>
                                <p class="title1">MELT AWF JELLY OIL MAKEUP-MELTING CLEANSER</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <br><br>
                                <p><button class="textbtn">ADD TO BAG<br>EGP1,400.00</button></p>
                            </div>
                            <div class="column1">
                                <img src="../imgs/nflbag.jpeg" style="width:70%">
                                <p class="onlinetext">ONLINE EXCLUSIVE</p>
                                <p class="title2">NFL STADIUM BAG</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <br><br><br><br>
                                <p><button class="text2btn">ADD TO BAG <br> EGP1,050.00</button></p>
                            </div>
                            <div class="column1">
                                <img src="../imgs/velvet.jpeg" style="width:70%">
                                <p class="gamedaytext">GAME DAY LIMITED EDITION<br>ONLINE EXCLUSIVE</p>
                                <p class="title3">FENTY ICON VELVET LIQUID</p>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <p Class="gamedaytext"> RIRI</p>
                                <p><button class="text3btn">ADD TO BAG <br> EGP1,200.00</button></p>
                            </div>
                        </div>
                    </div>
                    
                <%}
                
                else{for(let i=0;i<cart.length;i++){%>
                    
                    <li>
                        <!-- <tr>
                        <td><%= cart[i].name %></td>
                        <td><%= cart[i].quantity %></td>
                         <td><%= cart[i].price %></td>
                        <td><%= parseFloat(cart[i].quantity) * parseFloat(cart[i].price ) %></td>
                       
                        </tr> -->
     <div>
        
        <p class="name"> <%= cart[i].name%> </p>
         <p class="product"><%= cart[i].quantity %> product </p> 
         <p class="price">EGP<%=(cart[i].quantity)*(cart[i].price)%></p>
        
                    
        <form action="/addtocart/update" method="post">
            <img src="<%=cart[i].image%>" alt="<%=cart[i].name%>" class="cartimage">
          <input type="hidden" name="product" value="<%=cart[i].product%>">
          <input type="hidden" name="name" value="<%=cart[i].name%>">
          <!-- <button id="minus" type="button" onclick="count(this.id)">-</button> -->
          <input type="number" class="quantity" name="quantity" value="<%=cart[i].quantity%>">
          <!-- <button id="add" type="button" onclick="count(this.id)">+</button> -->
          <button class="update"type="submit">update</button>
        </form>
    

        <form action="/addtocart/remove" method="post">
          <input type="hidden" name="product" value="<%=cart[i].product %>">
          <button  class="remove" type="submit">Remove</button>
        </form>
    
        <div class="recommended">
            <p class="p3">RECOMMENDED PRODUCTS</p>
            <div class="row1">
                <div class="column1">
                    <img src="../imgs/main product.jpeg" style="width:70%">
                    <p class="newtext">NEW</p>
                    <p class="title1">MELT AWF JELLY OIL MAKEUP-MELTING CLEANSER</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <br><br>
                    <p><button class="textbtn">ADD TO BAG<br>EGP1,400.00</button></p>
                </div>
                <div class="column1">
                    <img src="../imgs/nflbag.jpeg" style="width:70%">
                    <p class="onlinetext">ONLINE EXCLUSIVE</p>
                    <p class="title2">NFL STADIUM BAG</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <br><br><br><br>
                    <p><button class="text2btn">ADD TO BAG <br> EGP1,050.00</button></p>
                </div>
                <div class="column1">
                    <img src="../imgs/velvet.jpeg" style="width:70%">
                    <p class="gamedaytext">GAME DAY LIMITED EDITION<br>ONLINE EXCLUSIVE</p>
                    <p class="title3">FENTY ICON VELVET LIQUID</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <p Class="gamedaytext"> RIRI</p>
                    <p><button class="text3btn">ADD TO BAG <br> EGP1,200.00</button></p>
                </div>
            </div>
        </div>
        <div class="subtotal">
            <span>
            <p class="subtext">&nbsp;SubTotal-0 items</p>
            <p class="costt">EGP0.00</p>
            </span>
            <p class="subtext2">&nbsp;Need assistance?</p>
            <p>&nbsp;call&nbsp;<a class="number1" href=#>1-855-440-7474</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="number2" href=#>Free 30 Day Returns</a>
            </p>
        </div>
        <div class="cartfooter">
            <p class="subtottext">&nbsp;&nbsp;SubTotal-0&nbsp;items</p>
            <p class="cost">EGP0.00</p>
            <span class="oneline">
                <button class="view">&nbsp;VIEW BAG</button>
                <a href="/checkout">
                <button class="checkout">&nbsp;&nbsp;CHECKOUT</button>
                </a>
            </span>
        </div>
        
      </li>
      
                <%}}%>
                
            </div>
            
           </div>
    </div>
    <!--add to bag ends-->
    </ul>
</body>
