<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sophistique beautymain .css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../javascript/sophistique beauty main .js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
</head>

<body>
    <%-include('./partials/beautynav.ejs') %>
        <%- include('./partials/addtocart.ejs') %>
         
        <section>
            <div>
                <h2>6 items</h2>
            </div>
            <div class="product">
                <!-- <h2 class="product-category">BEST SELLING</h2> -->
                <button class="pre-btn">
                    <img src="../imgs/arrow.png">
                </button>
                <button class="nxt-btn">
                    <img src="../imgs/arrow.png">
                </button> 
                
                <%productsList.forEach(product=>{ %>
                <div class="product-container">
                   
                        <div class="container">

                            <div class="box">
                                <div class img-slide>
                                    <img src="../imgs/uploads/<%= product.image1%>" class="hide" width="350"><img
                                        src="../imgs/uploads/<%= product.image2%>"width="350">
                                </div>
                            </div>
                            <div class="detail">
                                <div class="type">
                                    <span> NEW</span>
                                    <a href="#"><%=product.description %></a>
                                </div>
                            </div>
                            <div class="shop">
                                <span class=""><a href="#">ADD TO BAG</a></span>
                                <a href="#" class="price"><%product.price %></a>
                            </div>

                        </div>
                </div> 
              <% });%>
            </div>  
         
         
            <script src="../javascript/SliderScript.js"></script>

        </section>
        
    

</body>

</html>