<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/Nav.css">
    <link rel="stylesheet" href="../css/Addtocart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Space+Grotesk:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/Nav.ejs') %>
        <%- include('./partials/addtocart.ejs') %>
            <div class="h2">
                <h2 class="title">
                    <%=pageTitle %>
                </h2>
            </div>
            </div>


            <% if(products.length){%>
<ul>
                <%for( let product of products){%>
                    
                        <li class="item-a">
                            <div class="box">

                                <a href="productdetail">
                                    <div class img-slide>
                                        <img src=<%=product.image1 %> width="350px" height="450px" class="hide">
                                    </div>
                                    <div class="overlay"> <img src=<%=product.overlayImg %> width="350px" height="450px"></div>

                            </div>
                            <div class="detail">
                                <div class="type">
                                    <span> <%=product.status %></span>
                                    <a href="#">
                                        <%= product.description %>
                                    </a>
                                </div>
                            </div>
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                            </div>
                            </a>
                            <div class="shop">
                                <span class=""><a href="#">ADD TO BAG</a></span>
                                <a href="#" class="price">
                                    <%= product.price %>
                                </a>
                            </div>
                        </li>
                    <% } %>
                </ul>
                        <%} else{ %>
                            <div class="h2"> NO PRODUCTS</div>
                            <% } %>
                        

</body>

</html>