<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophistiqué</title>
    <link href='https://fonts.googleapis.com/css?family=Prompt' rel='stylesheet'>
    <link rel="stylesheet" href="../css/styleHomeSkin.css">
    <link rel="stylesheet" href="../css/Addtocart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
    <!--nav and add to cart partials-->
    <%- include('./partials/Nav.ejs') %>
        <%- include('./partials/addtocart.ejs') %>

            <div>
                <a href='productdetail'><img id="big-melt-image"
                        src="../imgs/FS366458-FS-Melt-Awf-Launch_HP_Takeover_Hero_Desktop_1400x.webp" width="100%"
                        height="675px"></a>
                <a href=""><img id="small-melt-image" src="../imgs/ pic 728px.webp" width="100%" height="675px"></a>
            </div>
            <div>
                <video controls loop width="100%" autoplay muted>
                    <source src="../imgs/melt_awf_-_desktop (1080p).mp4" type="video/mp4">
                </video>
            </div>
            <div>
                <img src="../imgs/(1).jpg" width="100%">
            </div>
            <div class="glazeandswatch">
                <div class="container-glaze">
                    <img id="glaze" src="../imgs//glaze-rhode.webp">
                    <div class="centered">glaze</div>
                    <div class="centered2">glaze</div>
                </div>
                <div class="container-swatch">
                    <img id="swatch"
                        src="../imgs/Glaze_02_RhodeMap_Swatch_2000x2000_183aae18-ab1e-4a09-8b32-9d96a3e9de02_320x.webp">
                    <div class="sentenseSwatch">
                        <strong>glaze now, glow later.</strong>
                    </div>
                    <br>
                    <div class="theRestOfSwatchSentense">
                        <p>Meet the PEPTIDE GLAZING FLUID<strong>.&nbsp;</strong></p>
                        <p> Hailey’s secret to DEWY, radiant skin.</p>
                        <button class="b1" onclick="location.href='productdetail';"> Buy now </button>
                    </div>
                </div>
            </div>
            <br>

            <!-- start slider down here-->
           
                <div class="product">
                    <button class="pre-btn">
                      <img src="../imgs/arrow.png">
                    </button>
                    <button class="nxt-btn">
                      <img src="../imgs/arrow.png">
                    </button>
                    <div class="product-container">
                      <% topProducts.forEach((product, index) => { %>
                        <!-- Render each top product -->
                        <div class="product-card" id="product<%= index %>">
                          <!-- Product details -->
                          <div class="product-info">
                            <p class="product-short-description">
                              <%= product._id %> <!-- Display the product ID -->
                              <a href="#" class="price">$<%= product.orderCount %></a> <!-- Display the order count as the price -->
                            </p>
                          </div>
                        </div>
                      <% }); %>
                    </div>
                  </div>
                  <script src="../javascript/SliderScript.js"></script>
                  <div>
                    <%-include('./partials/footer.ejs') %>
                  </div>
                  
            
</body>

</html>