<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/myprofile.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/Nav.ejs') %>
    <%- include('./partials/addtocart.ejs') %>
    <div class="welcome">
        <p>HI,<%=  userP.Firstname %></p>
    </div>
    <div class="sideMenu">
        <ul>
           <li><a href="#">MY PROFILE</a></li> 
           <li><a href="/logout">LOGOUT</a></li> 
           <% if(userP.Type=="admin"){ %>
            <li><a href="/admindashboard">DASHBOARD</a></li>
            <% }%>
        </ul>
    </div>
    <div class="main-box">
        <p>MY PROFILE</p>
        <ul>
            <li>First Name: <%=  userP.Firstname %></li>
            <li>Last Name: <%=  userP.Lastname %></li>
            <li>email: <%=  userP.Email %></li>
            
        </ul>
    </div>
</body>
</html>