<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/productdetail.css" />
    <script src="../javascript/productdetail.js"></script>
    
    <title>Melt Awf Jelly Oil Make-Up Melting Cleanser</title>
</head>

<body>
   
        <div class="left-split">
            <div class="row">
                <div class="column">
                    <!-- <img class="demo cursor" src="../imgs/main product.jpeg" style="width:50%"  onclick="expand(this);" > -->
                    <img class="demo cursor" src="<%= product.image1 %>" style="width:50%"  onclick="expand(this);" >

                    <!-- <img class="demo cursor" src="../imgs/before&after.jpeg" style="width:50%"  onclick="expand(this);"> -->
                    <img class="demo cursor" src="<%= product.image2 %>" style="width:50%"  onclick="expand(this);">

                    <!-- <img src="../imgs/texture.jpeg" style="width:50%"  onclick="expand(this);"> -->
                    <img src="<%= product.image3 %>" style="width:50%"  onclick="expand(this);">

                    "<%= product.imageURL %>

                </div>
                <div class="column2">
                    <!-- <img id="expandedImg" img src="../imgs/main product.jpeg" width="175%" height=800px> -->
                    <img id="expandedImg" img src="<%= product.image1 %>"  width="175%" height=800px>

                </div>
            </div>
        </div>
        <div class="right-split">
            <div class="centered">
               <!-- <p><a href="/index" > Home&nbsp</a> /Melt Awf Jelly Oil Makeup-Melting Cleanser</p> -->
               <p><a href="/index" > Home&nbsp</a> /<%= product.name %> </p>

                <br>
                <div class="box" style="background-color:rgb(174, 168, 187 )">
                    <p>NEW</p>
                </div>
                <div class="heading">
                    <!-- <p>MELT AWF JELLY OIL MAKEUP-MELTING CLEANSER</p> -->
                    <p><%= product.name %></p>
                    
                </div>
                <div class="price">
                    <!-- <p>$ 34</p> -->
                    <p><%= product.price %></p>
                </div>
                <div>
                    <a class="review" href=#>4 Reviews</a>
                </div>
                <div class="header">
                    <!-- <p>The jelly-oil cleanser so good, you'll put on makeup just to take it off</p> -->
                    <p><%= product.description %></p>
                </div>
                <div class="star-review">
                    <div class="fa fa-star checked"></div>
                    <div class="fa fa-star checked"></div>
                    <div class="fa fa-star checked"></div>
                    <div class="fa fa-star"></div>
                    <div class="fa fa-star"></div>
                </div>
                <div class="container">
                    <div class="clean">
                        <img src="../imgs/clean.png" width="45px" height="40px">
                    </div>
                    <div class="text1">
                        <p>Clean</p>
                    </div>
                    <div class="container2">
                        <div class="crueltyfree">
                            <img src="../imgs/crueltyfree.png" width="45px" height="40px">
                        </div>
                        <div class="text2">
                            <p>Cruelty-<br>free</p>
                        </div>
                        <div class="container3">
                            <div class="vegan">
                                <img src="../imgs/vegan.png" width="45px" height="40px">
                            </div>
                            <div class="text3">
                                <p>Vegan</p>
                            </div>
                            <div class="container4">
                                <div class="glutenfree">
                                    <img src="../imgs/glutenfree.png" width="45px" height="40px">
                                </div>
                                <div class="text4">
                                    <p>Gluten-<br>free</p>
                                </div>
                            </div>
                            <div class="container5">
                                <div class="daytimeuse">
                                    <img src="../imgs/daytimeuse.png" width="45px" height="40px">
                                </div>
                                <div class="text5">
                                    <p>Daytime<br>use</p>
                                </div>
                            </div>
                            <div class="container6">
                                <div class="nighttimeuse">
                                    <img src="../imgs/nighttimeuse.png" width="45px" height="40px">
                                </div>
                                <div class="text6">
                                    <p>Nighttime<br>use</p>
                                </div>
                            </div>
                            <div class="container7">
                                <div class="Recyclable">
                                    <img src="../imgs/recycle.png" width="45px" height="40px">
                                </div>
                                <div class="text7">
                                    <p>Recyclable</p>
                                </div>
                            </div>
                            <div class="container8">
                                <div class="noouterbox">
                                    <img src="noouterbox.png" width="45px" height="40px">
                                </div>
                                <div class="text8">
                                    <p>No<br>Outer<br>Box</p>
                                </div>
                            </div>
                            <div class="container9">
                                <div class="containsrecycledmaterials">
                                    <img src="../imgs/containerrecycledmaterials.png" width="45px" height="40px">
                                </div>
                                <div class="text9">
                                    <p>Contains<br>Recycled<br>Materials</p>
                                </div>
                            </div>
                            <div class="counter">
                                <button id="minus" onclick=" count(this.id)">-</button>
                                <p id="value">1 </p>
                                <button id="add" onclick="count(this.id)">+</button>
                            </div>
                            <button class="addtocart">
                                <div class="pretext">
                                    <div class="addtocartclass">ADD TO CART</div>
                                    <div class="pretext done">
                                        <div class="posttext"> ADDED</div>
                                    </div>
                            </button>
                        </div>
                        <div class="shipping">
                            <p>FREE standard shipping & returns on all U.S. orders</p>
                            <hr class="hr1">
                            <div>
                                <nav>
                                    <label for="touch"><span>details</span></label>
                                    <input type="checkbox" id="touch">
                                    <ul class="slide">
                                        <li>9 LUXE OILS + MESS-FREE PUMP<br>REMOVE EVERY TYPE OF MAKEUP, WITHOUT THE
                                            DRAMA<br><br>STRAIGHT UP:</li>
                                        <li class="para">Finally, look forward to taking off your makeup at the end of
                                            the
                                            day—for real. This innovative jelly-oil cleanser comes in a mess-free pump
                                            and
                                            contains a custom blend of 9 luxe oils ready to erase every type of even
                                            waterproof and longwear makeup, without the drama.<br>For all skin types,
                                            including dry and sensitive skin.</li>
                                    </ul>

                                    </ul>
                                </nav>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="video">
                <br>
                <br>
                <br>
                <br>
                <h2>WATCH IT IN ACTION</h2>
                <br>
                <video controls loop width="100%" autoplay muted>
                    <source src="../imgs/melt_awf_-_desktop (1080p).mp4" type="video/mp4" width="200px" height="150px">
                </video>
                <div>

                </div>
            </div>
       
        <script>
            const button = document.querySelector(".addtocart");
            const done = document.querySelector(".done");
            console.log(button);
            let added = false;
            button.addEventListener('click', () => {
                if (added) {
                    done.style.transform = "translate(-110%) skew(-40deg)";
                    added = false;
                }
                else {
                    done.style.transform = "translate(0px)";
                    added = true;
                }
            });

            function count(meen) {
                let minus = document.getElementById("minus");
                let val = document.getElementById("value");
                let add = document.getElementById("add");
                let countNum = parseInt(val.innerHTML);
                if (meen == 'minus') {
                    if (countNum > 1) {
                        let valuee = countNum - 1;
                        val.innerHTML = valuee;
                    }
                }
                if (meen == 'add') {
                    let valuee = countNum + 1;
                    val.innerHTML = valuee;
                }
            }

        </script>
</body>

</html>