<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
    <link rel="stylesheet" href="../css/body.css">
    <link rel="stylesheet" href="../css/Nav.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Space+Grotesk:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>
    <%- include('./partials/Nav.ejs') %>
        <%- include('./partials/addtocart.ejs') %>
        <div class="h2">
          <%  if(productsList[0]!==undefined){%>
            <h2 class="title">SOPHISTIQUÉ <%= productsList[0].type%></h2>
            <%}%>
          </div>
        
          <div class="product-grid">
            <% productsList.forEach(product => { %>
            <div class="product-item">
              <div class="box1">
                <a href="productdetail">
                  <a href="#"></a>
                </a>
                <div class="img-slide">
                  <img src="../imgs/uploads/<%= product.image1 %>" width="350px" height="350px" class="hide">
                </div>
                <div class="overlay">
                  <img src="../imgs/uploads/<%= product.image2 %>" width="350px" height="350px">
                </div>
              </div>
              <div class="detail">
                <div class="type1">
                  <div class="name1"><%= product.name %></div>
                  <a href="Skinproducts/productdetail/<%= product._id %>"><%= product.description %></a>
                </div>
              </div>
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
              </div>
              <div class="shop1">
                <% if (!userP || userP.Type == "client") { %>
                  <form action="/addtocart/add" method="post">
                    <input type="hidden" name="product" value="<%= product._id %>">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="hidden" name="image" value="/imgs/uploads/<%= product.image1%>">
                    <input type="number" name="quantity" value="1" hidden>
                    <span class="addtobag"><button id="add-to-bag" type="submit">ADD TO BAG</button></span>
                  </form>
                <% } else if (userP.Type == "admin") { %>
                <span class=""><a href="/admindashboard/editproduct/<%= product._id %>">Edit</a></span>
                <span class="">
                  <form action="/admindashboard/<%= product._id %>" method="post">
                    <input type="hidden" name="id" value="<%= product._id %>">
                    <button id='delete' type="submit">Delete</button>
                  </form>
                </span>
                <% } %>
                <a href="#" class="price1"><%= product.price %></a>
              </div>
            </div>
            <% }) %>
          </div>
        
          <div class="pagination">
            <% if (currentPage > 1) { %>
            <a href="?page=<%= currentPage - 1 %>">Previous</a>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
            <span class="current-page"><%= i %></span>
            <% } else { %>
            <a href="?page=<%= i %>"><%= i %></a>
            <% } %>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
            <a href="?page=<%= currentPage + 1 %>">Next</a>
            <% } %>
          </div>
        </body>
        
        </html>