<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skincare</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/Addtocart.css">
    <link rel="stylesheet" href="../css/Nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Space+Grotesk:wght@300&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/Nav.ejs') %>
    <%- include('./partials/addtocart.ejs') %>
 
    
    <div class="headerIMG">
        <img src="../imgs/headerIMG1.png" width="50%" >
        <img src="../imgs/headerIMG2.png"width="50%" style="float: right;"></div>
    <div>
        <h2 class="title">SOPHISTIQUÉ SKIN FACE</h2>
    </div>

 <%productsList.forEach(product=>{ %>
    <ul>
       
        <li class="item-a">
            <div class="box">
                <a href="../html/Account.html">
                <div class img-slide>
                    <img src="../imgs/uploads/<%= product.image1%>"  width="350px" height="450px" class="hide">
                </div>
                <div class="overlay"> <img src="../imgs/uploads/<%= product.image2%>"height="450px"></div>

            </div>
            <div class="detail">
                <div class="type">
                    <span> <%=product.type %></span>
                    <a href="#">
                        <%= product.description %>
                    </a>
                </div>
            </div>
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star unchecked"></span>
            </div>
            </a>
            <div class="shop">
                <% if(!userP||userP.Type=="client"){ %>
                    <span class=""><a href="#">ADD TO BAG</a></span>
                    <%}
                    else if(userP.Type=="admin"){ %>
                    
                <span class=""><a href="/editproduct/<%=product._id%>">Edit</a></span>
               <span class=""><form action="/admindashboard/<%=product._id%>" method="post">
                      <input type="hidden" name="id" value="<%=product._id%>">
                      <button id="delete" type="submit">Delete</button>
                </form></span>
                <%}%>
                <a href="#" class="price"><% product.price %></a>
            </div>
        </li>
        
       
    </ul> <% });%>
    <script>
        function appear() {
            let sq = document.getElementsByClassName("split");
            if (sq[0].style.opacity == 0) {
                sq[0].style.display="block";
                //sq[0].style.opacity = 1;
                //sq[0].style.visibility = "visible";
            }
            
        }
        function ex(){
            let s = document.getElementsByClassName("split");
            s[0].style.display="none";
           
            
        }
    </script>
</body>

</html>