<!-- admin-dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/admindashboard.css">
    <link rel="stylesheet" href="../css/productcontrol.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>admindashboard | remove</title>
</head>

<body>
    <%-include('./partials/admindesign.ejs') %>

    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div><i id="menu-btn" class="fa fa-bars"></i></div>
                <input type="text" id="search-box" onkeyup="sendData(this)"> 
                <div id="searchResults"></div>
                <script src="../javascript/searchbar.js"></script>
            </div>
            <div class="profile">
                <i class="fa fa-bell"></i>
            </div>
        </div>
        <h2 class="i-name">
            ORDERS
        </h2>
        
        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Address</td>
                        <td>Total</td>
                        <td>Items</td>
                        <td>Created At</td>
                    </tr>
                </thead>
                <tbody>
                    <% orders.forEach(function(order) { %>
                        <tr>
                            <td><%= order.firstname %> <%= order.lastname %></td>
                            <td class="email"><%= order.email %></td>
                            <td><%= order.addressline %>, <%= order.city %></td>
                            <td><%= order.total %></td>
                            <td>
                                <% order.items.forEach(function(item) { %>
                                    <div><%= item.name %>: <%= item.quantity %></div>
                                <% }); %>
                            </td>
                            <td><%= order.createdAt %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </section>

   

</body>

</html>
